<!DOCTYPE html>
<html lang="{{ _("en") }}">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ _("eduID Login") }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{'/static/css/bootstrap-2.3.1.min.css'}}" rel="stylesheet" media="screen">
    <link href="{{'/static/css/screen.css'}}" rel="stylesheet" media="screen">
    <link href="{{'/static/favicon.ico'}}" rel="shortcut icon" />
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="{% block nav_class_help %}{% endblock %}"><a href="#">{{ _("Help") }}</a></li>
        </ul>
      <a href="https://www.eduid.se/">
        <img src="{{'/static/img/logo_eduID_g_color.svg'}}" alt="Logotype"/>
      </a>
        <a href="http://www.sunet.se/">
              <img src="{{'/static/img/SUNET_badge.png'}}" alt="SUNET logotype"/>
        </a>
      </div>
      {% block contents %}

      {% endblock %}
      <div class="clearfix"></div>
      <div class="footer">
        <p>&copy; SUNET 2013-2014</p>
      </div>
    </div>
    {% block extrajs %}
    {% endblock %}
  </body>
</html>
