{% extends "base.jinja2" %}

{% block nav_class_home %}active{% endblock %}

{% block contents %}

      <div id="content-block">
        <div class="jumbotron">

          <legend class="">{{ _("Access denied") }} ({error_code})</legend>

          {% trans %}
          <p>Access to the requested service could not be granted.
              The service might have requested a 'confirmed' identity.</p>{% endtrans %}

          {{  _("Visit the") }}
          <a href="{{ settings.dashboard_url }}">{{ _("eduID dashboard") }}</a>
          {{  _("to confirm your identity.") }}

        </div>
      </div>

{% endblock %}
